<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/listing.css">
    <title>All Combos</title>
</head>
<body>
    <h1>Ken Combos</h1>
    <div class="content">

    <% kenCombos.forEach((oneCombo)=> {%>
        <div class="slot">
        <% if(oneCombo.character === "ken") {%>
            <p class="item">Character: <%= oneCombo.character %></p>
            <p class="item">Combo Starter: <%= oneCombo.starter %></p>
            <p class="item">Combo Description: <%= oneCombo.description %></p>
            <p class="item">Combo Resources: <%= oneCombo.resource %></p>
            <iframe 
                src= "<%= oneCombo.video %>">
            </iframe>
    
            <p class="item">Or Post a Video Link: </p>
            <a href="<%= oneCombo.link %>" target="_blank">
                <img src="https://www.freeiconspng.com/thumbs/youtube-logo-png/youtube-logo-png-photo-0.png" alt="video logo">
            </a>

            <% } %>
        
        <form method="post" action="/combos/<%= oneCombo._id %>?_method=DELETE">
        <br>
            <button type="submit">Delete Combo</button>
        </form>
        <br>
        <a href="/combos/ken/<%= oneCombo._id %>/update">
        <button type="submit"> Update Combo</button>
        </a>
        <br>
        <br>
        <a href="/combos/<%= oneCombo._id %>"> Combo Details</a>
        <hr>
        </div>
    <% })  %>
    </div>
</body>
</html>