<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Combo Details</title>
</head>
<body>
    <p>Combo Starter: <%= oneComboDetail.starter %></p>
    <p>Combo Description: <%= oneComboDetail.description %></p>
    <p>Combo resource: <%= oneComboDetail.resource %></p>
    <p>Or Post a Video Link: <%= oneComboDetail.link %></p>
    <iframe src= "<%= oneComboDetail.video %>"></iframe>
    
</body>
</html>

